*~
\#*\#
*.swp
src/translator/notjs
*.out
notjs/
src/*/build
forV8_*.js
target/
.idea/
.idea_modules/
.ensime
.ensime_lucene/
.ensime_session
*.sh
*.aux
*.log
*.bbl
*.blg
.DS_Store
*.db

experiment-results
